* {
  box-sizing: border-box;
  body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
};
}

:root {
    --black: #000000;
    --green: #2cbf70;
    --lighter-blue: #2ec5b2;
    --light-blue: #41b6e6;
    --light-purple: #699bf0;
    --purple: #706bed;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    position: fixed;
    width: 100%;
    z-index: 50;
    background: transparent;
    backdrop-filter: blur(20px);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-link {
    display: flex;
    color: white; 
    text-decoration: none;
    padding: 10px 2px;
    margin: 20px;
    gap: 10px;
}

.nav-link-modal-skills,
.nav-link-modal-exp {
    display: flex;
    color: white; 
    text-decoration: none;
    padding: 10px 2px;
    margin: 20px;
    gap: 10px;
}

.purple-nav {
    padding-left: 5px;
    display: flex;
    color: var(--purple);
}

.nav-link:hover {
    background-color: var(--light-purple);
    border-radius: 10px;
}

.nav-link-modal-skills:hover, 
.nav-link-modal-exp:hover
.nav-link-modal-project:hover {
    background-color: var(--light-purple);
    border-radius: 10px;
}

.main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 100px;
    color: white; 
    background-image: linear-gradient(to top, 
        #000000,
        #130e14 5%, 
        #2a1b23 10%, 
        #352634 15%, 
        #4a3147 20%, 
        #56405b 25%, 
        #644b74 30%, 
        #6e5e8c 35%, 
        #736aa7 40%, 
        #7076b3 45%, 
        #717cc0 50%, 
        #6e86cc 55%, 
        #688fd9 60%, 
        #6095e2 65%, 
        #58a3f0 70%, 
        #4eaef8 75%, 
        #41b6e6 80%
    );
}

.main-head {
    min-width: 75%; 
    min-height: 50%;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to top, 
        #000000,
        #130e14 5%, 
        #2a1b23 10%, 
        #352634 15%, 
        #4a3147 20%, 
        #56405b 25%, 
        #644b74 30%, 
        #6e5e8c 35%, 
        #736aa7 40%, 
        #7076b3 45%, 
        #717cc0 50%, 
        #6e86cc 55%, 
        #688fd9 60%, 
        #6095e2 65%, 
        #58a3f0 70%, 
        #4eaef8 75%, 
        #41b6e6 80%
    );
    background-size: 400% 400%; 
    animation: gradientAnimation 10s ease;
    animation-fill-mode: forwards;
    box-shadow: 3px 3px 3px 3px var(--light-purple);
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.main-head h1 {
    line-height: 50px; 
    font-size: 4rem;
    font-weight: bold;
    color:  var(white);
    text-shadow: 1px 1px 2px var(--light-purple);
}

.circular--landscape { 
    display: inline-block; 
    position: relative; 
    margin-top: 10px;
    margin-right: 5px;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.circular--landscape img { 
    width: auto; 
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.bottom {
    display: flex;
    flex-direction: column;
    height: auto; 
    width: auto;
    justify-content: center;
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000000;
    border: white;
    color: white;
    gap: 10px;
}

.projectBox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 20px;
    border: 1px solid var(--light-purple);
    width: 75%;
}

.projectBox .title-pic {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.projectBox .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;
    padding-left: 20px;
}

.projectBox .project-links {
    margin-top: auto;
}

.projectBox .about {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.projectBox .pic {
    height: 200px;
    width: 350px;
    object-fit: cover;
}

.modalExp,
.modalSkill,
.modalProject {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: #000000;
    border: white;
    color: white;
    gap: 10px;
}

.experience,
.skills,
.modalProject {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid var(--light-purple); 
}

.modalSkill,
.modalExp,
.modalProject {
    position: fixed;
    width: 75vw;
    height: 75vh;
    top: 25%;
    left: 25%;
    background: black;
    padding: 25px;
    content: 50px;
    box-shadow: 3px 3px 5px 0px var(--light-purple);
    display: none;
    z-index: 60;
    overflow-y: auto; 

  }
  
  .modalSkill.open,
  .modalExp.open,
  .modalProject.open {
    display: block;
  }
  
  .modalSkill header,
  .modalExp header,
  .modalProject
   {
    display: grid;
    grid-template-rows: auto 15px;
    justify-items: end;
    z-index: 70;
  }
  
  .modalSkill .header .span,
  .modalExp .header .span,
  .modalProject .header .span {
    cursor: pointer;
    z-index: 80;
  }

  .modalSkill .button:disabled,
  .modalExp .button:disabled,
  .modalProject .button:disabled  {
    background: grey;
    color: #dddddd;
  } 

  .footer {
    display: flex;
    justify-content: space-evenly;
    size-adjust: 25%;
    padding: 20px;
    font-size: 2rem;
    font-weight: 200;
    background-color: #000000;
  }