* {
  box-sizing: border-box;
  body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
};
}

:root {
    --black: #000000;
    --green: #2cbf70;
    --lighter-blue: #2ec5b2;
    --light-blue: #41b6e6;
    --light-purple: #699bf0;
    --purple: #706bed;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.links {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #000000;
    flex-grow: 1;
    z-index:1000;;
}

.logo {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.nav-link {
    color: white; 
    text-decoration: none;
    padding: 2px;
    height: vh 100%; 
}

.green {
    color: #2cbf70;
}

.nav-link:hover {
    background-color: var(--lighter-blue);
}

.main {
    flex-grow: 1;
    background-color: #000000;
    padding: 20px;
    
}

.main-head {
    text-align: left;
    color: white;
}

.main-head.h1 {
    font-size: 60px;
    font-weight: bold;
}

.projects {
    display:flex;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
    background-color: #000000;
    border: #2cbf70;
    color: white;
    gap: 10px; 
}

.projectbox1 {
    padding: 5px;
    margin: 2px;
}

.projectbox2 {
    padding: 5px;
    margin: 2px;
}

.projectbox3 {
    padding: 5px;
    margin: 5px;
}

.experience {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 5px; 
    background-color: #000000;
    border: #2cbf70;
    color: white;
}

.skills {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 5px; 
    background-color: #000000;
    border: #2cbf70;
    color: white;
}