* {
  box-sizing: border-box;
  body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
};
}

:root {
    --black: #000000;
    --green: #2cbf70;
    --lighter-blue: #2ec5b2;
    --light-blue: #41b6e6;
    --light-purple: #699bf0;
    --purple: #706bed;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    position: absolute;
    top: 0; 
    width: 100%;
    min-width: auto;
    z-index: 50;
    background: transparent;
}

.links {
    min-width: 490px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

/* .logo {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
} */

.nav-link {
    display: flex;
    flex-direction: row;
    color: white; 
    text-decoration: none;
    padding: 10px 2px;
    margin: 20px;
}

.nav-link-modal-skills,
.nav-link-modal-exp {
    display: flex;
    flex-direction: row;
    color: white; 
    text-decoration: none;
    padding: 10px 2px;
    margin: 20px;
}

.green {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    color: #2cbf70;
}

.nav-link:hover {
    background-color: var(--lighter-blue);
}

.nav-link-modal-skills:hover, 
.nav-link-modal-exp:hover {
    background-color: var(--lighter-blue);
}
.main {
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh fit-content;
    background-image: linear-gradient(to top, 
        #000000,
        #130e14 5%, 
        #2a1b23 10%, 
        #352634 15%, 
        #4a3147 20%, 
        #56405b 25%, 
        #644b74 30%, 
        #6e5e8c 35%, 
        #736aa7 40%, 
        #7076b3 45%, 
        #717cc0 50%, 
        #6e86cc 55%, 
        #688fd9 60%, 
        #6095e2 65%, 
        #58a3f0 70%, 
        #4eaef8 75%, 
        #41b6e6 80%
    );
    padding: 100px;
    color: white; 
}

    /* background-image: linear-gradient(to top, #000000 25%, #2a1b23, #4a3147, #644b74, #736aa7, #717cc0, #688fd9, #58a3f0, #4da8ef, #45aded, #41b2ea, #41b6e6); */
    /* background: linear-gradient(0deg, var(--black) 20%, var(--purple) 30%, var(--light-purple) 40%, var(--white) 50%, var(--light-blue) 60%); */
    /* padding: 20px;
} */


.main-head {
    min-width: 215px; 
    min-height: 510px;
    margin-left: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    width: 75%;
    height: fit-content;
    background-image: linear-gradient(to top, 
        #000000,
        #130e14 5%, 
        #2a1b23 10%, 
        #352634 15%, 
        #4a3147 20%, 
        #56405b 25%, 
        #644b74 30%, 
        #6e5e8c 35%, 
        #736aa7 40%, 
        #7076b3 45%, 
        #717cc0 50%, 
        #6e86cc 55%, 
        #688fd9 60%, 
        #6095e2 65%, 
        #58a3f0 70%, 
        #4eaef8 75%, 
        #41b6e6 80%
    );
    background-size: 400% 400%; 
    animation: gradientAnimation 10s ease;
    animation-fill-mode: forwards;
    box-shadow: 3px 3px 3px 3px var(--green);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.main-head h1 {
    font-size: 10vw;
    font-weight: bold;
    -webkit-text-fill-color: var(white);
    /* -webkit-text-stroke: 0.5px var(--green); this is to make outline*/
    /* text-shadow: 2px 2px 5px var(--green); */
}

.circular--landscape { 
    display: inline-block; 
    position: relative; 
    margin-right: 5px;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.circular--landscape img { 
    width: auto; 
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
    margin: auto;
}


.bottom {
    height: auto; 
    width: auto;
}

.projects {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #000000;
    border: white;
    color: white;
    gap: 10px;
}

.projectbox {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--green); 
}

.information {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: #000000;
    border: white;
    color: white;
    gap: 10px;
}

.experience {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid var(--green); 
}

.skills {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid var(--green); 
}

.modal {
    position: fixed;
    width: auto;
    top: 200px;
    right: calc(50% - 400px);
    background: black;
    padding: 25px;
    content: 50px;
    box-shadow: 3px 3px 5px 0px var(--green);
    display: none;
    z-index: 200;
  }
  
  .modal.open {
    display: block;
  }
  
  .modal header {
    display: grid;
    grid-template-rows: auto 15px;
    justify-items: end;
  }
  
  .modal header span {
    cursor: pointer;
  }

  .modal .button:disabled {
    background: grey;
    color: #dddddd;
  } 

  .footer {
    display: flex;
    justify-content: space-evenly;
    size-adjust: 25%;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 200;
  }